.model-body {
    margin: 20px 50px;
}

.model-dropdown {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.parameter-dropdown {
    margin-left: 5px;
}

.center-left {
    margin: auto;
}

.large-text {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}